@import url(./__img/element__img.css);
@import url(./__info/element__info.css);
@import url(./__name/element__name.css);
@import url(./__like/element__like.css);

.element {
  margin: 21px 18px 0 0;
  }

.element:nth-of-type(3n) {
  margin: 21px 0 0 0;
}

@media screen and (max-width: 1279px) {
  .element {
    margin: 20px auto 0 auto;
  }

  .element:nth-of-type(3n) {
    margin: 20px auto 0 auto;
  }
}
